{% extends 'base.html' %}
{% load groupfilter %}
{% load static %}
{% block content %}
    <div class="container">
        <img src="{% static 'logos/rgt_logo.jpeg' %}" width="100px">
        <img src="{{ company.logo.url }}" width="100px">
        {{ company.logo.url }}
        <h3 class="text-center">Dane firmy:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Nazwa firmy: {{ company.name }}</li>
            <li class="list-group-item text-center">Właściciel: {{ company.owner }}</li>
            <li class="list-group-item text-center">Numer NIP: {{ company.nip }}</li>
            <li class="list-group-item text-center">Adres firmy: {{ company.hq }}</li>
            <li class="list-group-item text-center">Adres produkcji: {{ company.prod }}</li>
        </ul>
    <br>
        {% if request.user|group:"biuro,admin" %}
            <p class="text-center">
            <a href="{% url 'company_edit' 1 %}"><button type="button" class="btn btn-primary">Edytuj</button></a>
            </p>
        {% endif %}
    </div>
{% endblock %}