{% extends 'base.html' %}
{% load static %}
{% load groupfilter %}
{% block content %}
    <div class="container">
        <h3 class="text-center">Informacje dotyczące zamówienia:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Nazwa zamówienia: {{ order.order_name }}</li>
            <li class="list-group-item text-center">Klient zamawiający: <a href="{% url 'client_detail' order.pk %}" class="link-dark">{{ order.ordered_by }}</a></li>
            <li class="list-group-item text-center">Zamówienie dodane przez: {{ order.added_by }}</li>
        </ul>
        <br>
        <div class="text-center">
            {% if request.user|group:"biuro,admin" %}
                <a href="{% url 'order_edit' order.pk %}">
                    <button type="button" class="btn btn-primary">Edytuj</button></a>
            {% endif %}
            {% if request.user|group:"biuro,admin" %}
                <a href="{% url 'order_delete' order.pk %}">
                    <button type="button" class="btn btn-danger">Usuń</button></a>
            {% endif %}
        </div>
    <br>
    <div class="row ms-auto">
            <div class="col-md-10">
{#                <button type="submit" class="btn btn-primary" value="Szukaj" form="search">Szukaj</button>#}
            </div>
            <div class="col-md-2">
                {% if request.user|group:"biuro,admin" %}<a href="{% url 'switchgear_add_order_pass' order.pk %}">
                    <button class="btn btn-success">Dodaj nową rozdzielnię</button>
                </a>{% endif %}
            </div>
        </div>
    <h3 class="text-center">Rozdzielnie należącego do tego zamówienia:</h3>
        <table class="table table-striped">
            <thead>
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 5%;">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">Nr. fabryczny</th>
                <th scope="col">Nazwa rozdzielni</th>
                <th scope="col">Wysłana</th>
                <th scope="col">Gotowa</th>
                <th scope="col">Braki</th>
                <th scope="col">Zdjęcia</th>
                <th scope="col">Wykonana przez</th>
            </tr>
            </thead>
            <tbody>
            {% for item in switchgears %}
                <tr>
                    <td><a href="{% url 'switchgear_detail' item.pk %}" class="link-dark">{{ item.serial_no }}</a></td>
                    <td><a href="{% url 'switchgear_detail' item.pk %}" class="link-dark">{{ item.name }}</a></td>
                    <td>{% if item.shipped %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-circle" color="green" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg> {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle" color="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> {% endif %}</td>
                    <td>{% if item.ready_to_ship %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-circle" color="green" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg> {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle" color="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> {% endif %}</td>
                    <td>{% if item.stuff_missing %}
                        <a href="{% url 'switchgear_components_detail' item.pk %}" class="link-danger">Tak</a>{% else %}
                        Nie{% endif %}</td>
                    <td>{% if item.has_photos %}
                        <a href="{% url 'switchgear_photos' item.pk %}" class="link-dark">Tak</a>{% else %}
                        <a href="{% url 'switchgear_photos_add' item.pk %}" class="link-danger">Nie</a>{% endif %}</td>
                    <td>{% for objs_worker in item.made_by.all %} {{ objs_worker.username }} {% endfor %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}