{% extends 'base.html' %}
{% load static %}
{% load groupfilter %}
{% block content %}
    <div class="container">
        <div class="row ms-auto">
            <div class="col-md-9">
{#                <button type="submit" class="btn btn-primary" value="Szukaj" form="search">Szukaj</button>#}
            </div>
            <div class="col-md-3">
                {% if request.user|group:"biuro,admin" %}<a href="{% url 'order_add_client_pass' client.pk %}">
                    <button class="btn btn-success">Dodaj nowe zamówienie</button>
                </a>{% endif %}
            </div>
        </div>
        <h3 class="text-center">Zamówienia klienta {{ client }}:</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nr. zamówienia</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for item in orders %}
                <tr>
                    <td><a href="{% url 'order_detail' item.pk %}" class="link-dark">{{ item }}</a></td>
                    <td>{% if request.user|group:"biuro,admin" %}<a href="{% url 'order_edit' item.pk %}">
                        <button type="button" class="btn btn-primary btn-sm">Edytuj</button></a>{% endif %}
                        {% if request.user|group:"biuro,admin" %}
                            <a href="{% url 'order_delete' item.pk %}">
                                <button type="button" class="btn btn-danger btn-sm">Usuń</button></a>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}