{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.name.label }}
            {{ form.name }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form.par_ka.label }}
                    {{ form.par_ka }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.par_a.label }}
                    {{ form.par_a }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form.par_v.label }}
                    {{ form.par_v }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.par_ui.label }}
                    {{ form.par_ui }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form.par_hz.label }}
                    {{ form.par_hz }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.par_grid.label }}
                    {{ form.par_grid }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form.par_protection.label }}
                    {{ form.par_protection }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.par_ip.label }}
                    {{ form.par_ip }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.par_ik.label }}
                    {{ form.par_ik }}
                </div>
            </div>
            <br>
            <p><input type="submit" value="Zapisz" class="btn btn-primary"></p>
        </form>
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
    </div>
{% endblock %}