{% extends 'base.html' %}
{% load static %}
{% load groupfilter %}
{% block content %}
    <div class="container">
        <form action="" method="get" id="search">
            <div class="row">
                <div class="form-group col-md-4"><label for="serial_no">Numer fabryczny:</label>
                    {{ filter.form.serial_no }}
                </div>
                <div class="form-group col-md-4"><label for="name">Nazwa rozdzielni:</label>
                    {{ filter.form.name }}
                </div>
                <div class="form-group col-md-4"><label for="made_by">Wykonana przez:</label>
                    {{ filter.form.made_by }}</div>
            </div>
            <div class="row">
                <div class="form-group col-md-3"><label for="shipped">Wysłana:</label>
                    {{ filter.form.shipped }}</div>
                <div class="form-group col-md-3"><label for="serial_no">Gotowa:</label>
                    {{ filter.form.ready_to_ship }}</div>
                <div class="form-group col-md-3"><label for="serial_no">Posiada zdjęcia:</label>
                    {{ filter.form.has_photos }}</div>
                <div class="form-group col-md-3"><label for="serial_no">Posiada braki:</label>
                    {{ filter.form.stuff_missing }}</div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary" value="Szukaj" form="search">Szukaj</button>
            </div>
            <div class="col-md-2">
                {% if request.user|group:"biuro,admin" %}<a href="{% url 'switchgear_add' %}">
                    <button class="btn btn-success">Dodaj nową rozdzielnię</button>
                </a>{% endif %}
            </div>
        </div>
        <h3 class="text-center">Rozdzielnie:</h3>
        <table class="table table-striped">
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 5%;">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">Nr. fabryczny</th>
                <th scope="col">Nazwa rozdzielni</th>
                <th scope="col">Wysłana</th>
                <th scope="col">Gotowa</th>
                <th scope="col">Braki</th>
                <th scope="col">Zdjęcia</th>
                <th scope="col">Wykonana przez</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <td><a href="{% url 'switchgear_detail' item.pk %}" class="link-dark">{{ item.serial_no }}</a></td>
                    <td><a href="{% url 'switchgear_detail' item.pk %}" class="link-dark">{{ item.name }}</a></td>
                    <td>{% if item.shipped %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-circle" color="green" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg> {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle" color="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> {% endif %}</td>
                    <td>{% if item.ready_to_ship %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-circle" color="green" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg> {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle" color="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> {% endif %}</td>
                    <td>{% if item.stuff_missing %}
                        <a href="{% url 'switchgear_components_detail' item.pk %}" class="link-danger">Tak</a>{% else %}
                         <a href="{% url 'switchgear_components_add' item.pk %}"
                            class="link-dark">Nie</a>{% endif %}</td>
                    <td>{% if item.has_photos %}
                        <a href="{% url 'switchgear_photos' item.pk %}" class="link-dark">Tak</a>{% else %}
                        <a href="{% url 'switchgear_photos_add' item.pk %}" class="link-danger">Nie</a>{% endif %}</td>
                    <td>{% for objs_worker in item.made_by.all %} {{ objs_worker.username }} {% endfor %}</td>
                </tr>
            {% endfor %}
        </table>
        {% load my_tags %}
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">Pierwsza</a></li>
                        {% if page_obj.previous_page_number != 1 %}
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.previous_page_number %}">&laquo;
                                Poprzednia</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% for n in page_obj.paginator.page_range %}
                        {% if page_obj.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                            </li>
                        {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?{% param_replace page=n %}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if page_obj.next_page_number != paginator.num_pages %}
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.next_page_number %}">Następna
                                &raquo;</a>
                            </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Ostatnia</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}